*{margin:0;}

.topimage{
    width: 154px;
    height: 152px;
    margin:0 auto;
}

.midimage{
    background-color: #006FFF;
    text-align: center;
    background-image: url(images/visual-wide.png); /* 배경-이미지 : url(경로/이름.형식) */
    background-repeat:no-repat;
    background-position:center center;

    background: #006FFF url(images/visual-wide.png) no-repeat center center;
}

.menu{
    text-align: center;
    background-color: black;
    padding: 20px ;
}
.menu ul{
    list-style-type:none; /*목록-스타일-종류:없음(사각형,채워진원,빈원)*/
    display:flex; /* 밑으로 가던게 옆으로 감*/
    justify-content: center; /* 컨텐츠-정렬:가로가운데*/
}

.menu ul li{
    margin:10px;

}

.sub_menu{
    background-color: #fafafa;
    border:#333 solid 1px;
    text-align: center;
    margin: 70px 0 0 0 ;
}

.sub_menu ul{list-style-type:none; /*목록-스타일-종류:없음(사각형,채워진원,빈원)*/
    display:flex; /* 밑으로 가던게 옆으로 감*/
    justify-content: center; /* 컨텐츠-정렬:가로가운데*/}

.sub_menu a{
    color:#666666;
    text-decoration:none ;
}

.sub_menu ul li {
    margin: 10px;
}

.menu a {
    color:white;
    text-decoration: none; /* 꾸밈 없음 */
}


.price,.casting{
    text-align: center;
    margin: 0 auto;
    width: 600px;
}

.price caption,.casting caption{
    font-size: 18px;
    font-weight: bolder;
    margin: 30px 0 20px 0;
    
}

table,th,td {
    border:1px solid #333;
    border-collapse:collapse;
}

th,td {
    padding: 10px 10px;
}

.site_info{
    padding: 0px 0 100px 0;
    text-align:center;
    background-color: black;
    
   
    
}

.site_info p {
    margin:20px;
    color:#fafafa
}

